{
  "dbUrl": "https://my-kinto.herokuapp.com/v1",
  "bucketName": "mrs",
  "userSecret": "my-secret",
  "endpoints": [
    "series",
    "comics",
    "events",
    "characters",
    "creators"
  ],
  "publicKey": "",
  "privateKey": ""
}